<app-login-taskbar></app-login-taskbar>

<div class="container">

  <form *ngIf="item">
    <h2 class="form-signin-heading">Edit Item</h2>

    <div>
      <label for="name" class="label-input">Name</label>
      <input type="type" id="name" name="name" class="form-control" placeholder="UserName" [(ngModel)]="item.name">
    </div>

    <div>
      <label for="inputHobby" class="label-input">Hobby</label>
      <input type="type" id="inputHobby" name="hobby" class="form-control" placeholder="hobby" [(ngModel)]="item.hobby">
    </div>

    <div>
      <label for="inputJob" class="label-input">Job: </label>
      <input type="type" id="inputJob" name="job" class="form-control" placeholder="Job" [(ngModel)]="item.job">
    </div>

    <div>
      <label for="inputCountry" class="label-input">Country: </label>
      <input type="type" id="inputCountry" name="country" class="form-control" placeholder="Country"
        [(ngModel)]="item.country">
    </div>
    <div>
      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="updateItem()">Edit new</button>
    </div>
  </form>

</div>